@{

  ViewBag.Title = "Main";
  Layout = "/Views/Shared/layout.cshtml";

  <div class="row p-3">
    <div class="col-sm-12 px-3">
    <h2>Welcome to the Rapper API!</h2>
    </div>
  </div>

  <div class="row p-3">
    <div class="col-sm-6 px-3">

      @foreach (var key in ViewBag.routes.Keys) {
        <div>
          <p>To get @key info:</p>
          <ul>
            @foreach (var route in ViewBag.routes[key]) {
              var url = "/rappers" + route;
              <li>
                <code>
                  <a href="@url" class="route">@route</a>
                </code>
              </li>
            }
          </ul>
        </div>
      }

      <small><pre>Page loaded @DateTime.Now</pre></small>

      @if (ViewBag.cleared != null) {
        <pre><small>Views last cleared @ViewBag.cleared</small></pre>
      }
      
    </div>
    <div class="col-sm-6 px-3">

      @if (ViewBag.visited.Count > 0) {
        <p>Routes previously visited:</p>
        <ul>@foreach (var route in ViewBag.visited) {
          var url = "/rappers" + route;
          <li><code><a href="@url">@route</a></code></li>
        }</ul>
        <p><a href="/rappers/reset">Clear</a></p>
      }

    </div>
  </div>

}